In [13]:
import pandas as pd
import numpy as np

In [14]:
df_full = pd.read_csv("2020년 후반기 선발투수 ID.csv", encoding='cp949')

In [15]:
df_full.columns

Index(['GDAY', 'T_ID', 'VS_T_ID', 'P_ID'], dtype='object')

In [16]:
temp = []
for team in df_full['T_ID']:
    if team not in temp:
        temp.append(team)

In [17]:
temp

['KIA', 'KT', 'LG', 'NC', 'SK', '두산', '롯데', '삼성', '키움', '한화']

In [18]:
# 팀 코드 변경
for i in range(len(df_full['T_ID'])):
    if df_full['T_ID'][i] == '두산':
        df_full['T_ID'][i] = 'OB'
    elif df_full['T_ID'][i] == '키움':
        df_full['T_ID'][i] = 'WO'
    elif df_full['T_ID'][i] == '롯데':
        df_full['T_ID'][i] = 'LT'
    elif df_full['T_ID'][i] == '한화':
        df_full['T_ID'][i] = 'HH'
    elif df_full['T_ID'][i] == 'KIA':
        df_full['T_ID'][i] = 'HT'
    elif df_full['T_ID'][i] == '삼성':
        df_full['T_ID'][i] = 'SS'
        
    if df_full['VS_T_ID'][i] == '두산':
        df_full['VS_T_ID'][i] = 'OB'
    elif df_full['VS_T_ID'][i] == '키움':
        df_full['VS_T_ID'][i] = 'WO'
    elif df_full['VS_T_ID'][i] == '롯데':
        df_full['VS_T_ID'][i] = 'LT'
    elif df_full['VS_T_ID'][i] == '한화':
        df_full['VS_T_ID'][i] = 'HH'
    elif df_full['VS_T_ID'][i] == 'KIA':
        df_full['VS_T_ID'][i] = 'HT'
    elif df_full['VS_T_ID'][i] == '삼성':
        df_full['VS_T_ID'][i] = 'SS'

C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [19]:
df_full

        GDAY T_ID VS_T_ID   P_ID
0    09월 19일   HT      HH  50640
1    08월 09일   HT      NC  77637
2    08월 02일   HT      LT  50636
3    09월 10일   HT      OB  62754
4    08월 26일   HT      OB  65616
..       ...  ...     ...    ...
255  09월 15일   HH      LG  69748
256  09월 16일   HH      LG  69744
257  08월 27일   HH      SS  77318
258  09월 18일   HH      WO  69748
259  08월 12일   HH      WO  79764

[260 rows x 4 columns]

In [20]:
# 데이터 셋에 피장타율, 방어율, 삼진/볼넷, 피출루율, 피OPS, 잔루처리율 column을 추가합니다.
columns = ['피장타율', '방어율', '삼진/볼넷', '피출루율', '피OPS', '잔루처리율']
for column in columns:
    df_full[column] = np.nan

In [21]:
df_full

        GDAY T_ID VS_T_ID   P_ID  피장타율  방어율  삼진/볼넷  피출루율  피OPS  잔루처리율
0    09월 19일   HT      HH  50640   NaN  NaN    NaN   NaN   NaN    NaN
1    08월 09일   HT      NC  77637   NaN  NaN    NaN   NaN   NaN    NaN
2    08월 02일   HT      LT  50636   NaN  NaN    NaN   NaN   NaN    NaN
3    09월 10일   HT      OB  62754   NaN  NaN    NaN   NaN   NaN    NaN
4    08월 26일   HT      OB  65616   NaN  NaN    NaN   NaN   NaN    NaN
..       ...  ...     ...    ...   ...  ...    ...   ...   ...    ...
255  09월 15일   HH      LG  69748   NaN  NaN    NaN   NaN   NaN    NaN
256  09월 16일   HH      LG  69744   NaN  NaN    NaN   NaN   NaN    NaN
257  08월 27일   HH      SS  77318   NaN  NaN    NaN   NaN   NaN    NaN
258  09월 18일   HH      WO  69748   NaN  NaN    NaN   NaN   NaN    NaN
259  08월 12일   HH      WO  79764   NaN  NaN    NaN   NaN   NaN    NaN

[260 rows x 10 columns]

In [22]:
df_check = pd.read_csv("20200927기준_상대팀별누적투수데이터_선발(수정).csv", encoding='cp949')

In [23]:
df_check

    T_ID VS_T_ID   P_ID   피장타율   방어율 삼진/볼넷   피출루율   피OPS  잔루처리율
0     LG      HT  69103  0.292  1.38  3.67  0.255  0.547   86.2
1     LG      HT  68135  0.434  3.75     3  0.339  0.773   68.2
2     LG      HT  50126  0.360  6.00     4  0.346  0.706   55.6
3     LG      HT  78148  0.318  2.25  0.83  0.333  0.652   82.4
4     LG      HT  76455  0.417  1.50     -  0.250  0.667  108.7
..   ...     ...    ...    ...   ...   ...    ...    ...    ...
569   SK      HH  50815  0.360  3.86     2  0.296  0.656   62.5
570   SK      HH  50835  0.195  2.84     1  0.280  0.475   79.4
571   SK      HH  79847  0.320  5.40     1  0.419  0.739   69.2
572   SK      HH  66859  0.500  7.36     1  0.389  0.889   55.6
573   SK      HH  64861  0.457  6.30     1  0.333  0.790   62.5

[574 rows x 9 columns]

In [24]:
# 선발 투수 데이터를 형성하는 과정입니다.
def match_data(df_pit, df_check):
    for i in range(len(df_pit['P_ID'])):
        player = df_pit['P_ID'][i]
        vsteam = df_pit['VS_T_ID'][i] # 플레이어 ID와 상대 팀 ID를 입력받습니다.
        temp_player = df_check[ df_check['P_ID']==player ]
        temp_vsteam = temp_player[ temp_player['VS_T_ID']==vsteam ] # 입력받은 데이터를 토대로 기존의 데이터를 불러옵니다.
        temp_arr = temp_vsteam.loc[:, ['피장타율', '방어율', '삼진/볼넷', '피출루율', '피OPS', '잔루처리율']].values
        columns = ['피장타율', '방어율', '삼진/볼넷', '피출루율', '피OPS', '잔루처리율']
        
        if len(temp_arr)==0: # 해당 선발 투수가 해당 상대팀을 상대한 전적이 없을 경우 빈칸으로 채웁니다.
            for j in range(len(columns)):
                column = columns[j]
                df_pit[column][i] = np.nan
            continue
        
        else:             # 선발 투수의 데이터를 각 column에 채웁니다.
            for j in range(len(columns)):
                column = columns[j]
                value = temp_arr[0][j]
                df_pit[column][i] = value

In [25]:
match_data(df_full, df_check)

C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\nakhe\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\nakhe\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
df_full

        GDAY T_ID VS_T_ID   P_ID   피장타율    방어율 삼진/볼넷   피출루율   피OPS  잔루처리율
0    09월 19일   HT      HH  50640  0.262   3.09  4.33  0.244  0.506   63.6
1    08월 09일   HT      NC  77637  1.048  16.62     -  0.500  1.548   36.6
2    08월 02일   HT      LT  50636  0.216   1.25  2.14  0.247  0.463   85.0
3    09월 10일   HT      OB  62754  0.375   2.00     8  0.349  0.724   60.0
4    08월 26일   HT      OB  65616  0.397   5.19   1.5  0.315  0.712   54.5
..       ...  ...     ...    ...    ...    ...   ...    ...    ...    ...
255  09월 15일   HH      LG  69748  0.368   4.82   1.2  0.419  0.787   61.1
256  09월 16일   HH      LG  69744  0.500   7.02     -  0.364  0.864   45.1
257  08월 27일   HH      SS  77318  0.350   6.00  3.25  0.400  0.750   66.7
258  09월 18일   HH      WO  69748  0.474  11.57     1  0.364  0.837   30.3
259  08월 12일   HH      WO  79764  0.455   5.40     2  0.400  0.855   81.4

[260 rows x 10 columns]

In [27]:
df_full.to_csv("Predict_input_data_선발투수.csv", encoding='cp949')