In [1]:
import pandas as pd
import numpy as np

In [2]:
team = ['HH', 'SS', 'NC', 'LG', 'SK', 'LT', 'OB', 'HT', 'KT', 'WO']

In [3]:
for i in team:
    globals()['{}'.format(i)] = pd.read_csv('pred/{}_predict.csv'.format(i))
    globals()['{}'.format(i)] = globals()['{}'.format(i)][-26:]

###  HH

In [4]:
predHH = []
for i in list(HH.values):
    predHH.append(np.argmax(i))

In [5]:
predSS = []
for i in list(SS.values):
    predSS.append(np.argmax(i))

In [6]:
predNC = []
for i in list(NC.values):
    predNC.append(np.argmax(i))

In [7]:
predLG = []
for i in list(LG.values):
    predLG.append(np.argmax(i))

In [8]:
predSK = []
for i in list(SK.values):
    predSK.append(np.argmax(i))

In [9]:
predLT = []
for i in list(LT.values):
    predLT.append(np.argmax(i))

In [10]:
predOB = []
for i in list(OB.values):
    predOB.append(np.argmax(i))

In [11]:
predHT = []
for i in list(HT.values):
    predHT.append(np.argmax(i))

In [12]:
predKT = []
for i in list(KT.values):
    predKT.append(np.argmax(i))

In [13]:
predWO = []
for i in list(WO.values):
    predWO.append(np.argmax(i))

In [14]:
def inverting_label(pred, ver2, ver1):
    for i in range(len(pred)):
        pred[i] = ver2[pred[i]]
    for i in range(len(pred)):
        pred[i] = list(ver1.keys())[list(ver1.values()).index(pred[i])]

In [15]:
SK_1 ={50815: 0, 50835: 1, 60841: 2, 62869: 3, 79847: 4, 69839: 5, 66859: 6, 64861: 7}

SS_1 = {77446: 0, 69439: 1, 50404: 2, 68419: 3, 69446: 4, 74454: 5, 61365: 6, 50449: 7, 50464: 8}

OB_1 = {69045: 0, 66291: 1, 50234: 2, 79229: 3, 77211: 4, 50296: 5, 67263: 6, 63292: 7}

KT_1 = {50040: 0, 69032: 1, 65516: 2, 50030: 3, 68043: 4, 65048: 5, 67045: 6}


NC_1 = {69940: 0, 50912: 1, 65933: 2, 60263: 3, 68900: 4, 66920: 5, 67954: 6}

LT_1 = {50558: 0, 69539: 1, 64021: 2, 73211: 3, 76355: 4, 68529: 5, 64565: 6, 50524: 7, 78536: 8}

HT_1 = {77637: 0, 50636: 1, 65616: 2, 50640: 3, 62754: 4, 69620: 5}

WO_1 = {67313: 0, 69343: 1, 65320: 2, 67603: 3, 62363: 4, 60264: 5, 69360: 6, 67391: 7, 60336: 8}

LG_1 = {76455: 0, 73801: 1, 78148: 2, 68135: 3, 69103: 4, 61101: 5, 50126: 6, 50157: 7}

HH_1 = {69744: 0, 62611: 1, 77318: 2, 79764: 3, 69745: 4, 65764: 5, 69748: 6, 50726: 7, 65769: 8, 68701: 9}

In [16]:
HH_2=[0, 2, 3, 5, 6]

SS_2 = [0, 2, 3, 4, 7]

NC_2 = [0, 1, 2, 3, 5]

LG_2 = [0, 4, 2, 3, 5]

SK_2 = [7, 1, 2, 3, 4]

LT_2 = [0, 1, 2, 3, 7]

OB_2 = [0, 1, 2, 3, 7]

HT_2 =[0, 1, 2, 3, 4]

KT_2=[0, 1, 2, 3, 5]

WO_2=[6, 1, 2, 3, 4]

In [17]:
# SK 20 {0: [7], 6: [4], 5: [1]}

# SS 20 {8: [3, 7], 5: [0, 7], 1: [0], 6: [0]}

# OB 20 {4: [7], 5: [7], 6: [7]}

# KT 20 {4: [0], 6: [0]}

# NC 20 {4: [5], 6: [5]}

# LT 20 {5: [7], 6: [7], 8: [3], 4: [0]}

# HT 20 {5: [4]}

# WO 20 {7: [4], 8: [6], 0: [6], 5: [6]}

# LG 20 {1: [4, 3, 5, 2], 7: [5, 2], 6: [0]}

# HH 20 {1: [2, 5, 6, 3], 7: [2], 9: [6, 3], 8: [0], 4: [0]}

In [18]:
#team = ['HH', 'SS', 'NC', 'LG', 'SK', 'LT', 'OB', 'HT', 'KT', 'WO']
inverting_label(predHH,HH_2, HH_1)
inverting_label(predSS,SS_2, SS_1)
inverting_label(predNC,NC_2, NC_1)
inverting_label(predLG,LG_2, LG_1)
inverting_label(predSK,SK_2, SK_1)
inverting_label(predLT,LT_2, LT_1)
inverting_label(predOB,OB_2, OB_1)
inverting_label(predHT,HT_2, HT_1)
inverting_label(predKT,KT_2, KT_1)
inverting_label(predWO,WO_2, WO_1)

In [19]:
print('HH예측')
print(predHH)
print()

print('SS예측')
print(predSS)
print()

print('NC예측')
print(predNC)
print()

print('SK예측')
print(predSK)
print()

print('LG예측')
print(predLG)
print()

print('LT예측')
print(predLT)
print()

print('OB예측')
print(predOB)
print()

print('HT예측')
print(predHT)
print()

print('KT예측')
print(predKT)
print()

print('WO예측')
print(predWO)
print()

HH예측
[69748, 79764, 69744, 77318, 65764, 69748, 79764, 69744, 77318, 65764, 69748, 79764, 69744, 77318, 65764, 69748, 79764, 69744, 77318, 65764, 69748, 79764, 69744, 77318, 65764, 69748]

SS예측
[68419, 77446, 50404, 50449, 69446, 68419, 77446, 50404, 50449, 69446, 68419, 77446, 50404, 50449, 69446, 68419, 77446, 50404, 50449, 69446, 68419, 77446, 50404, 50449, 69446, 68419]

NC예측
[60263, 66920, 69940, 50912, 65933, 60263, 66920, 69940, 50912, 65933, 60263, 66920, 69940, 50912, 65933, 60263, 66920, 69940, 50912, 65933, 60263, 66920, 69940, 50912, 65933, 60263]

SK예측
[79847, 60841, 62869, 50835, 64861, 79847, 60841, 62869, 50835, 64861, 79847, 60841, 62869, 50835, 64861, 79847, 60841, 62869, 50835, 64861, 79847, 60841, 62869, 50835, 64861, 79847]

LG예측
[76455, 69103, 68135, 78148, 61101, 76455, 69103, 68135, 78148, 61101, 76455, 69103, 68135, 78148, 61101, 76455, 69103, 68135, 78148, 61101, 76455, 69103, 68135, 78148, 61101, 76455]

LT예측
[73211, 50524, 69539, 64021, 50558, 73211, 50524, 69539, 64021, 50558, 73211, 50524, 69539, 64021, 50558, 73211, 50524, 69539, 64021, 50558, 73211, 50524, 69539, 64021, 50558, 73211]

OB예측
[63292, 66291, 69045, 50234, 63292, 63292, 66291, 69045, 50234, 63292, 63292, 66291, 69045, 50234, 63292, 63292, 66291, 69045, 50234, 63292, 63292, 66291, 69045, 50234, 63292, 63292]

HT예측
[50640, 77637, 50636, 62754, 65616, 50640, 77637, 50636, 62754, 65616, 50640, 77637, 50636, 62754, 65616, 50640, 77637, 50636, 62754, 65616, 50640, 77637, 50636, 62754, 65616, 50640]

KT예측
[69032, 65048, 65516, 65048, 50040, 69032, 65048, 65516, 65048, 50040, 69032, 65048, 65516, 65048, 50040, 69032, 65048, 65516, 65048, 50040, 69032, 65048, 65516, 65048, 50040, 69032]

WO예측
[69343, 67603, 62363, 69360, 67603, 69343, 67603, 62363, 69360, 67603, 69343, 67603, 62363, 69360, 67603, 69343, 67603, 62363, 69360, 67603, 69343, 67603, 62363, 69360, 67603, 69343]

In [24]:
data = pd.read_csv('try_2.csv', encoding = 'cp949')

In [25]:
data = data.drop('Unnamed: 0', axis=1)

In [26]:
data = data.sort_values(by=['0'], axis=0)
data

      GDAY    0   1
341  09-04  KIA  롯데
75   08-01  KIA  롯데
388  09-10  KIA  두산
259  08-26  KIA  두산
65   07-31  KIA  롯데
..     ...  ...  ..
445  09-17   한화  키움
170  08-15   한화  삼성
307  09-01   한화  두산
383  09-09   한화  삼성
141  08-12   한화  키움

[514 rows x 3 columns]

In [27]:
final = pd.concat([data[data['0']=='KIA'].reset_index(drop=True)[-26:],data[data['0']=='KT'].reset_index(drop=True)[-26:],
data[data['0']=='LG'].reset_index(drop=True)[-26:],data[data['0']=='NC'].reset_index(drop=True)[-26:],
data[data['0']=='SK'].reset_index(drop=True)[-26:],data[data['0']=='두산'].reset_index(drop=True)[-26:],
data[data['0']=='롯데'].reset_index(drop=True)[-26:],data[data['0']=='삼성'].reset_index(drop=True)[-26:],
data[data['0']=='키움'].reset_index(drop=True)[-26:],data[data['0']=='한화'].reset_index(drop=True)[-26:]], axis=0)

In [28]:
final

     GDAY    0   1
25  08-02  KIA  롯데
26  09-03  KIA  롯데
27  08-05  KIA  LG
28  09-04  KIA  롯데
29  08-27  KIA  SK
..    ...  ...  ..
46  09-17   한화  키움
47  08-15   한화  삼성
48  09-01   한화  두산
49  09-09   한화  삼성
50  08-12   한화  키움

[260 rows x 3 columns]

In [29]:
total_pred = predHT+ predKT+ predLG+ predNC+ predSK+ predOB+ predLT+ predSS+ predWO+ predHH

In [30]:
final['P_ID'] = total_pred

In [32]:
final.to_csv('2020년 후반기 선발투수 ID.csv', encoding='cp949', index=False)