In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('2020득실점.csv') # '득점 예측 모델' output 결과
df

   T_ID VS_T_ID  경기수     경기당득점        총득점
0    HH      HT    3  5.546075  16.638226
1    HH      KT    2  5.511992  11.023985
2    HH      LG    4  5.192637  20.770548
3    HH      LT    1  6.285862   6.285862
4    HH      NC    3  5.202411  15.607232
..  ...     ...  ...       ...        ...
77   WO      LG    1  5.498147   5.498147
78   WO      LT    5  4.872900  24.364500
79   WO      NC    2  5.303939  10.607879
80   WO      OB    2  5.765799  11.531598
81   WO      SS    2  5.696696  11.393393

[82 rows x 5 columns]

In [3]:
teamids=['HH','HT','KT','LG','LT','NC','OB','SK','SS','WO',]
features=list(df)
features=features[2:]
features

['경기수', '경기당득점', '총득점']

In [4]:
def make_run(df):  # dictionary 형태의 dataset을 형성한다.
    dic = {}
    for i in range(len(df)):
        tid = df['T_ID'][i]
        vstid = df['VS_T_ID'][i]
        # 팀 아이디가 딕셔너리에 없을 경우
        if df['T_ID'][i] not in dic.keys():
            dic[tid] = {}
            dic[tid]['득점경기수']=0
            dic[tid]['득점']=0
            dic[tid]['실점']=0
            dic[tid]['실점경기수']=0

        # 상대 팀 아이디가 딕셔너리에 없을 경우
        if df['VS_T_ID'][i] not in dic.keys():
            dic[vstid] = {}
            dic[vstid]['득점경기수']=0
            dic[vstid]['득점']=0
            dic[vstid]['실점']=0
            dic[vstid]['실점경기수']=0
        dic[tid]['득점경기수']+=df['경기수'][i]
        dic[tid]['득점']+=df['총득점'][i]
        dic[vstid]['실점']+=df['총득점'][i]
        dic[vstid]['실점경기수']+=df['경기수'][i]
    for tid in teamids:
        dic[tid]['경기당득점']=dic[tid]['득점']/dic[tid]['득점경기수']
        dic[tid]['경기당실점']=dic[tid]['실점']/dic[tid]['실점경기수']
    return dic

In [5]:
data2020=make_run(df)

In [6]:
data2020

{'HH': {'득점경기수': 24,
  '득점': 122.15665469999999,
  '실점': 87.48263990000001,
  '실점경기수': 19,
  '경기당득점': 5.0898606125,
  '경기당실점': 4.604349468421053},
 'HT': {'득점경기수': 23,
  '득점': 101.28908209999999,
  '실점': 132.7324414,
  '실점경기수': 25,
  '경기당득점': 4.403873134782608,
  '경기당실점': 5.309297656},
 'KT': {'득점경기수': 20,
  '득점': 102.1881094,
  '실점': 113.1047907,
  '실점경기수': 24,
  '경기당득점': 5.1094054700000004,
  '경기당실점': 4.7126996125},
 'LG': {'득점경기수': 23,
  '득점': 116.7609597,
  '실점': 114.82095610000002,
  '실점경기수': 23,
  '경기당득점': 5.076563465217391,
  '경기당실점': 4.992215482608697},
 'LT': {'득점경기수': 18,
  '득점': 82.9014804,
  '실점': 114.8254456,
  '실점경기수': 23,
  '경기당득점': 4.6056378,
  '경기당실점': 4.992410678260869},
 'NC': {'득점경기수': 22,
  '득점': 108.93014289999999,
  '실점': 124.27304240000001,
  '실점경기수': 24,
  '경기당득점': 4.951370131818181,
  '경기당실점': 5.178043433333333},
 'OB': {'득점경기수': 23,
  '득점': 113.4379954,
  '실점': 98.15450870000001,
  '실점경기수': 19,
  '경기당득점': 4.9320867565217394,
  '경기당실점': 5.166026773684211},
 'SK': {'득점경기수': 26,
  '득점': 136.5949941,
  '실점': 96.2188383,
  '실점경기수': 21,
  '경기당득점': 5.25365361923077,
  '경기당실점': 4.581849442857143},
 'SS': {'득점경기수': 26,
  '득점': 136.3336075,
  '실점': 79.2871759,
  '실점경기수': 16,
  '경기당득점': 5.243600288461538,
  '경기당실점': 4.95544849375},
 'WO': {'득점경기수': 22,
  '득점': 110.1184552,
  '실점': 169.81164239999998,
  '실점경기수': 33,
  '경기당득점': 5.005384327272727,
  '경기당실점': 5.1458073454545445}}

In [7]:
from openpyxl import Workbook
wb = Workbook()

#파일 이름을 정하고, 데이터를 넣을 시트를 활성화합니다.
sheet1 = wb.active

#시트의 이름을 정합니다.
sheet1.title = 'sampdleSheet'

In [8]:
sheet1.append(['팀','경기당득점','경기당실점'])
for tid in teamids:
    sheet1.append([tid,data2020[tid]['경기당득점'],data2020[tid]['경기당실점']])

In [9]:
wb.save('Final_경기당득실점.xlsx')